* {
  box-sizing: border-box;
  cursor: crosshair;
}
body {
  background: white;
  margin: 40px;
}

h1 {
  font-size: 50px;
  font-family: 'Staatliches', serif;
  color: #d02873;
  top: 10px;
  text-align: left;
  margin-left: 40px;
}
p {
  font-size: 40px;
  font-family: 'Staatliches', serif;
  color: #d02873;
  opacity: 75%;
  text-align: center;
}
img {
  height: 80vh;
  padding: 30px;
}
.ninfasduo {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}
.rolesyegos {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}
.digitales {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}
.tresyo {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}
/* .tres {
  height: 50vh;
} */
.masks {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}
/* .m {
  height: 50vh;
} */
.seis {
  display: flex;
  padding: 10px;
  justify-content: flex-start;

}
