* {
  box-sizing: border-box;
  cursor: crosshair;
}
body {
  background: white;
  margin: 40px;
}

h1 {
  font-size: 50px;
  font-family: 'Staatliches', serif;
  color: #d02873;
  top: 10px;
  text-align: left;
  margin-left: 40px;
}
p {
  font-size: 40px;
  font-family: 'Staatliches', serif;
  color: #d02873;
  opacity: 75%;
}
img {
  height: 70vh;
}
